
body {
    font-family: sans-serif;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    background-size: cover;
    background-position: center;
}

.main__Title {
    font-size: 2.5rem;
    transition: all 0.2s;
}

.main__Title:hover {
    letter-spacing: 2.5px;
}

.main__Container {
    background-color: rgb(246, 246, 246, 0.9);
}

.helloMain__Container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.postMain__Container {
    height: 75%;

}

.latest__Title {
    height: 10%;
}

.postList__Container {
    height: 80%;
}

.posts__Title {
    height: 60%;
    text-transform: capitalize;
}

.post__Content {
    height: 40%;
}

.navbar__Link-text {
    transition: all 0.2s;
}
.navbar__Link-text:hover {
    color: #fff !important;
    transform: scale(1.1);
}
.navbar__Link-text:active {
    transform: scale(1);
}

.dateSpan {
    font-size: 1rem !important;
}

.entry__Title {
    height: 10%;
}

.all__Container {
    height: 85%;
}

.post__Title {
    height: 20%;
}

.post__Container {
    height: 70%;
}

.post__Buttons {
    width: 20%;
}

.btn{
    width: 75px !important;
}

.btn-red {
    color: #fff;
    background-color: #420000;

    transition: all 0.2s;
}

.btn:focus {
    outline: none !important;
}

.btn-red:hover {
    color: #fff;
    transform: scale(1.1);
}

.btn-red:active {
    transform: scale(1);
}

.btn-gray {
    color: #000000;
    background-color: #eae9e9;

    transition: all 0.2s;
}

.btn-gray:hover {
    transform: scale(1.1);
}

.btn-gray:active {
    transform: scale(1.1);
}
